{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <div class="row text-center">
        <div class="col-md-12"><h3>FONSOFT - ANR FONSOFT 2011</h3></div>
    </div>
    <div class="row text-center"><p>Proyecto NA 117/11</p></div>
    <div class="row text-center"><p>INFT S.A.</p></div>
    <div class="row text-center"><h2>ProSGA</h2></div>
    <div class="row text-center"><p>Software para la normalización de procesos</p></div>
    <div class="row text-center"><p>destinado a crear un sistema de Gestión de Calidad</p></div>
    <div class="row text-center"><p>para certificar y mantener Normas ISO 14000.</p></div>
{% endblock %}