/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/06/2015, 12:22:43
    Author     : Gonzalo
*/

body{
    background-color: #b5e8cc;
}

.espacio10{
    margin: 10px 0 0;
}

.borde-1-solido{
    border: 1px solid;
}

.borde-2-solido{
    border: 2px solid;
}

#fichaproceso div{
    border: 1px solid;
}