{% extends '::base.html.twig' %}

{% block head %}
    {# Agrego las plantillas generales #}
    {% stylesheets '@RGVSiteBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}           
    {# Agrego la plantilla del template elegido #}
    {% stylesheets '@RGVSiteBundle/Resources/public/template_css/template.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}                
    {% block layout_head %}{% endblock %}    
    <title>{% block layout_title %}{% endblock %}</title>        
{% endblock %}

{% block body %}    
    <div id="content_body" class="container">    
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div id="header" class="center-block layout-box">{% block header %}Header{% endblock %}</div>
            </div>
            <div id="container" class="col-md-12 column">
                {% block page_content %}{% endblock %}
            </div>
            <div class="col-md-12 column">
                <div id="footer" class="center-block layout-box">{% block footer %}Footer{% endblock %}</div>
            </div>
        </div>          
    </div>
{% endblock %}

{% block body_end_before_js %}

    {% javascripts '@RGVSiteBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block layout_body_end_before_js %}{% endblock %}

{% endblock %}
