{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Editar Tipo de Incidencia</h2>
{% endblock %}

{% block body_content -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tiposincidencias') }}">
            Volver a la lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
