{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block body_end_before_js %}
<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<script type="text/javascript">
    {{ chart(chart) }}
</script>
{% endblock %}