{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Editar Salida Ficha de Proceso</h2>
{% endblock %}

{% block body_content -%}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fichadeprocesosalida') }}">
            Volver al Listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
