{% extends 'prosgaBundle::template.html.twig' %}

{% block content %}
    <h2>Nueva Salida de Proceso</h2>
{% endblock %}

{% block body_content -%}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fichadeprocesosalida') }}">
            Volver al Listado
        </a>
    </li>
</ul>
{% endblock %}
